#todobox{
  height: 90vh;
  width: 90vw;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#taskadd{
  width: 500px;
  height: 70px;
  border: 3px solid green;
 text-align: center;
 margin: auto;
}

button{
  border: none;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: cadetblue;
 background-color: white;
 padding: 10px 15px;
 width: 150px;
 border: 3px solid black;
}
#todoitemsbox{
  height: 80%;
  width: 80%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cards{
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: cadetblue;
  border-radius: 5px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}